@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'vazir', 'Lato', sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

html {
    overflow: hidden;
    background: #f6f7ff;
}

.bi {
    color: white;
    font-family: bootstrap-icons !important;
    transition: all .255s ease-in;
}

.bi-question-circle {
    display: flex;
}

.help-article {
    display: none;
    flex-flow: column;
    background-color: white;
    position: absolute;
    right: 25%;
    left: 25%;
    margin: 9% auto;
    padding: 2.5rem;
    border-radius: 1.5rem;
    transition: all .255s ease-in;
    box-shadow: 0px 0px 10px 0px #4A63E7;
    -webkit-box-shadow: 0px 0px 10px 0px #4A63E7;
}

.help-article h3 {
    border-bottom: #4a63e7 solid 2px;
    font-size: x-large;
}

.help-article p {
    margin: .5rem;
}

.help-bi-x {
    color: #4A63E7;
    position: absolute;
    left: 4%;
    top: 8%;
    font-size: 1.8rem;
    cursor: pointer;
}

.section {
    background-color: #4a63e7;
    box-shadow: 0px 0px 10px 0px #4A63E7;
    -webkit-box-shadow: 0px 0px 10px 0px #4A63E7;
    color: white;
    width: fit-content;
    position: relative;
    left: 3.7rem;
    top: 5rem;
    display: flex;
    flex-flow: row;
    padding: .5rem;
    border-radius: 3rem 0rem 0rem 3rem;
    font-weight: bold;
    align-items: center;
    transition: all .255s ease-in;
    cursor: pointer;
}

.section:hover {
    left: 0;

}

#section-span {
    padding: inherit;
}

.section i {
    font-size: 2.5rem;
}

.main {
    color: white;
    background-color: #4a63e7;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 13px 0px #4A63E7;
    box-shadow: 0px 0px 13px 0px #4A63E7;
    display: flex;
    justify-content: start;
    flex-flow: column;
    width: 40%;
    margin: 5% auto;
    padding: 2rem 3rem;
}

.form-title {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: white;
}

.form form {
    display: flex;
    justify-content: right;
    flex-flow: column;
}

label {
    padding: .5rem .2rem;
    font-weight: bold;
}

input {
    padding: .35rem 0.5rem;
    border-radius: 3rem;
    border: none;
    font-size: .9rem;
    font-weight: bold;
    padding: 0.25rem 1rem;
}

span a {
    color: white;
    text-decoration-style: solid;
}

.submit {
    width: 30%;
    padding: 0.2rem;
    margin: 1rem auto 0;
    background-color: white;
    color: #4a63e7;
    border: #4a63e7 .5px solid;
    border-radius: 2rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all .255s ease-in;
    cursor: pointer;
}

.submit:hover {
    width: 40%;
    padding: 0.2rem;
    margin: 1rem auto 0;
    color: white;
    background-color: #4a63e7;
    border: white .5px solid;
}

@media(min-width: 2000px) {
    .help-article {
        right: 25%;
        left: 25%;
        margin: 20% auto;
        padding: 5rem;
        font-size: 2rem;
    }

    .help-article h3 {
        font-size: 3rem;
    }

    .help-bi-x {
        font-size: 3rem;
    }

    .main {
        width: 60%;
        margin: 15% auto;
        padding: 5rem 5rem;
    }

    .form-title {
        font-size: 3rem;
    }

    label {
        font-size: 3rem;
    }

    input {
        font-size: 1.5rem;
        padding: 1.25rem 1.75rem;
    }

    span a {
        font-size: x-large;
        padding-right: .75rem;
    }

    .submit {
        padding: .75rem;
        font-size: 2rem;
    }

    .submit:hover {
        padding: .75rem;
        border: white 3px solid;
    }

    .section {
        font-size: 2.5rem;
        padding: 1rem;
        border-radius: 20rem 0rem 0rem 20rem;
        left: 8.8rem;
    }

    .section i {
        font-size: 5rem;
    }
}

@media(max-width:1080px) {
    .section {
        left: 0;
    }

    .section span {
        display: none;
    }

    .help-article {
        margin: 20% auto;
        padding: 3rem;
        font-size: 1rem;
    }

    .help-bi-x {
        font-size: 1.5rem;
        left: 9%;
        top: 10%;
    }
}

@media(max-width: 750px) {
    .help-article {
        padding: 2rem .75rem;
        margin: 30% auto;
    }

    .main {
        margin: 20% auto;
    }

    .submit {
        width: 50%;
    }
}

@media(max-width: 600px) {
    .help-article {
        margin: 40% auto;
        min-width: 70%;
        left: 10%;
        right: 10%;
    }

    .main {
        width: 80%;
        margin: 25% auto;
        padding: 1.5rem 2rem;
    }

    .submit {
        width: 65%;
    }
}

@media(max-width: 400px) {
    .help-article {
        margin: 50% auto;
    }

    .main {
        margin: 40% auto;
    }
}