* {
    padding: 0%;
    margin: 0%;
    font-family: vazir;
}

html {
    overflow: hidden;
    background: #f6f7ff;
}

.bi {
    color: white;
    font-family: bootstrap-icons !important;
    transition: all .255s ease-in;
}

.help-article {
    display: none;
    flex-flow: column;
    background-color: white;
    position: absolute;
    right: 25%;
    left: 25%;
    margin: 13.25% auto;
    padding: 2.5rem;
    border-radius: 1.5rem;
    transition: all .255s ease-in;
    box-shadow: 0px 0px 10px 0px #4A63E7;
    -webkit-box-shadow: 0px 0px 10px 0px #4A63E7;
}

.help-article h3 {
    border-bottom: #4a63e7 solid 2px;
    font-size: x-large;
}

.help-article p {
    margin: .5rem;
}

.help-bi-x {
    color: #4A63E7;
    position: absolute;
    left: 4%;
    top: 8%;
    font-size: 1.75rem;
}

.section {
    background-color: #4a63e7;
    box-shadow: 0px 0px 10px 0px #4A63E7;
    -webkit-box-shadow: 0px 0px 10px 0px #4A63E7;
    color: white;
    width: fit-content;
    position: relative;
    left: 3.8rem;
    top: 5rem;
    display: flex;
    flex-flow: row;
    padding: .5rem;
    border-radius: 3rem 0rem 0rem 3rem;
    font-weight: bold;
    align-items: center;
    transition: all .255s ease-in;
}

.section:hover {
    left: 0;

}

#section-span {
    padding: inherit;
}

.section i {
    font-size: 2.5rem;
}

.main {
    color: white;
    background-color: #4a63e7;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 13px 0px #4A63E7;
    box-shadow: 0px 0px 13px 0px #4A63E7;
    display: flex;
    justify-content: start;
    flex-flow: column;
    width: 40%;
    margin: 10% auto;
    padding: 2rem 3rem;
}

.form-title {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: white;
}

.form form {
    display: flex;
    justify-content: right;
    flex-flow: column;
}

label {
    padding: .5rem .2rem;
    font-weight: bold;
}

input {
    padding: .35rem 0.5rem;
    border-radius: 3rem;
    border: none;
}

span a {
    color: white;
}

.submit {
    width: 30%;
    padding: 0.2rem;
    margin: 1rem auto 0;
    background-color: white;
    color: #4a63e7;
    border: none;
    border-radius: 2rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: all .255s ease-in;
}

.submit:hover {
    width: 40%;
    padding: 0.1rem;
    margin: 1rem auto 0;
    color: white;
    background-color: #4a63e7;
    border: white .5px solid;
}

.footer {
    position: sticky;
    bottom: 0;
    margin: auto;
    width: fit-content;
}

.footer p {
    color: #4a63e7;
    font-size: large;
}